$nav-link-width: 140px;

nav {
  flex: 2;

  & > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;

    & > li {
      flex: 1;
      transition: 0.5s ease;
      max-width: $nav-link-width;
      min-width: $nav-link-width;

      & > a {
        text-decoration: none;
        color: #909090;
        font-weight: 600;
      }

      &:hover > a,
      & > a.active-link {
        color: #5c2b84
      }

      &:nth-of-type(1):hover ~ .underbar{
        left: 0;
        width: $nav-link-width - 15px;
      }

      &:nth-of-type(2):hover ~ .underbar{
        left: $nav-link-width;
        width: $nav-link-width - 15px;
      }

      &:nth-of-type(3):hover ~ .underbar{
        left: $nav-link-width * 2;
        width: $nav-link-width - 15px;
      }

      &:nth-of-type(4):hover ~ .underbar{
        left: $nav-link-width * 3;
        width: $nav-link-width - 15px;
      }
    }

    & > .underbar {
      position: absolute;
      bottom: 0;
      height: 10px;
      background-color: #5c2b84 ;
      width: 0;
      transition: 0.5s ease;
    }
  }
}

.title {
  flex: 1.5;
  font-family: 'Nova Mono', monospace;
  text-align: right;
  font-weight: 900;
}